In [1]:
import pandas as pd 
import numpy as np
import csv

In [2]:
barcelona_listings = pd.read_csv("barcelona_listings.csv")
#barcelona_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/barcelona_calendar.csv")
#barcelona_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/barcelona_reviews.csv")

madrid_listings = pd.read_csv("madrid_listings_filtered.csv")
#madrid_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/madrid_calendar.csv")
#madrid_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/madrid_reviews.csv")

berlin_listings = pd.read_csv("berlin_listings_filtered.csv")
#berlin_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/berlin_calendar.csv")
#berlin_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/berlin_reviews.csv")

countries = pd.read_csv("countries.csv")

In [3]:
cor_city = []
for i in range(0, len(barcelona_listings)):
    cor_city.append('barcelona')
barcelona_listings['city'] = cor_city

In [4]:
#all city of barcelona_listings are named "barcelona"
barcelona_listings[barcelona_listings['city']!='barcelona']

Empty DataFrame
Columns: [id, listing_url, name, summary, space, description, neighborhood_overview, notes, transit, access, interaction, house_rules, picture_url, host_id, host_url, host_name, host_since, host_about, host_response_time, host_response_rate, host_thumbnail_url, host_picture_url, host_neighbourhood, host_verifications, neighbourhood, city, country_code, country, latitude, longitude, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, minimum_nights, maximum_nights, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, is_business_travel_ready, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification]
Index: []

[0 rows x 59 columns]

In [5]:
cor_city = []
for i in range(0, len(madrid_listings)):
    cor_city.append('madrid')
madrid_listings['city'] = cor_city

In [6]:
#all city of madrid_listings are named "madrid"
madrid_listings[madrid_listings['city']!='madrid']

Empty DataFrame
Columns: [id, listing_url, name, summary, space, description, neighborhood_overview, notes, transit, access, interaction, house_rules, picture_url, host_id, host_url, host_name, host_since, host_about, host_response_time, host_response_rate, host_thumbnail_url, host_picture_url, host_neighbourhood, host_verifications, neighbourhood, city, country_code, country, latitude, longitude, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, minimum_nights, maximum_nights, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, is_business_travel_ready, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification]
Index: []

[0 rows x 59 columns]

In [7]:
cor_city = []
for i in range(0, len(berlin_listings)):
    cor_city.append('berlin')
berlin_listings['city'] = cor_city

In [8]:
#all city of berlin_listings are named "berlin"
berlin_listings[berlin_listings['city']!='berlin']

Empty DataFrame
Columns: [id, listing_url, name, summary, space, description, neighborhood_overview, notes, transit, access, interaction, house_rules, picture_url, host_id, host_url, host_name, host_since, host_about, host_response_time, host_response_rate, host_thumbnail_url, host_picture_url, host_neighbourhood, host_verifications, neighbourhood, city, country_code, country, latitude, longitude, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, minimum_nights, maximum_nights, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, is_business_travel_ready, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification]
Index: []

[0 rows x 59 columns]

In [9]:
tab2 = barcelona_listings['city'].unique()
tab3 = madrid_listings['city'].unique()
tab4 = berlin_listings['city'].unique()
tab1 = np.concatenate(([tab2], [tab3]), axis = 0)
tab1 = np.concatenate((tab1, [tab4]), axis = 0)
print(tab1)

[['barcelona']
 ['madrid']
 ['berlin']]

In [10]:
tabB = np.concatenate((tab1,[[0],[0],[1]]), axis = 1)
tabB = tabB.tolist()
print(type(tabB))
print(tabB)

<class 'list'>
[['barcelona', 0], ['madrid', 0], ['berlin', 1]]

In [11]:
with open('Cities.csv', 'w', newline='') as cities_file:
    cities_writer = csv.writer(cities_file, delimiter=',',
                            quotechar='"', quoting=csv.QUOTE_MINIMAL)
    cities_writer.writerow(['CITY_ID','CITY','COUNTRY_ID'])
    for i in range(0,len(tabB)):
        cities_writer.writerow([i]+tabB[i])