In [1]:
import pandas as pd 
import numpy as np
import csv

In [2]:
barcelona_listings = pd.read_csv("barcelona_listings.csv")
#barcelona_calendar = pd.read_csv("barcelona_calendar.csv")
#barcelona_reviews = pd.read_csv("barcelona_reviews.csv")

madrid_listings = pd.read_csv("madrid_listings_filtered.csv")
#madrid_calendar = pd.read_csv("madrid_calendar.csv")
#madrid_reviews = pd.read_csv("madrid_reviews.csv")

berlin_listings = pd.read_csv("berlin_listings_filtered.csv")
#berlin_calendar = pd.read_csv("berlin_calendar.csv")
#berlin_reviews = pd.read_csv("berlin_reviews.csv")

host_verificaions = pd.read_csv("host_verifications.csv")
#countries = pd.read_csv("Countries.csv")
#cities = pd.read_csv("Cities.csv")

In [3]:
host_verificaions.head()

   HOST_VERIFICATION_ID HOST_VERIFICATION
0                     0             email
1                     1          facebook
2                     2            google
3                     3     government_id
4                     4   identity_manual

In [4]:
barcelona_listings = barcelona_listings[["host_id", "host_verifications"]]
madrid_listings = madrid_listings[["host_id", "host_verifications"]]
berlin_listings = berlin_listings[["host_id", "host_verifications"]]
tab = pd.concat([barcelona_listings, madrid_listings,berlin_listings]).drop_duplicates()
tab.head()

   host_id                                 host_verifications
0    71615  ['email', 'phone', 'reviews', 'jumio', 'govern...
2    82522  ['email', 'phone', 'reviews', 'jumio', 'offlin...
3   108310  ['email', 'phone', 'reviews', 'jumio', 'offlin...
4   134698                      ['email', 'phone', 'reviews']
6   136853  ['email', 'phone', 'facebook', 'reviews', 'jum...

In [5]:
tab.dtypes

host_id                int64
host_verifications    object
dtype: object

In [6]:
print(type(tab['host_verifications'].iloc[0]))

<class 'str'>

In [7]:
tab['host_verifications'].iloc[0]

"['email', 'phone', 'reviews', 'jumio', 'government_id']"

In [8]:
tab['host_verifications'] = tab['host_verifications'].apply(lambda x:x.replace('[','').replace(']','').replace("'",'').replace(' ',''))
list = tab['host_verifications'].str.split(',')#, expand = True)
tab['host_verifications'] = list
tab

         host_id                                 host_verifications
0          71615      [email, phone, reviews, jumio, government_id]
2          82522  [email, phone, reviews, jumio, offline_governm...
3         108310  [email, phone, reviews, jumio, offline_governm...
4         134698                            [email, phone, reviews]
6         136853  [email, phone, facebook, reviews, jumio, offli...
8      195624524                                     [email, phone]
10        135703  [email, phone, facebook, reviews, jumio, sent_...
12         73163  [email, phone, reviews, manual_offline, jumio,...
13        152232  [email, phone, reviews, jumio, offline_governm...
17        158596  [email, phone, facebook, reviews, manual_offli...
18        177617  [email, phone, facebook, reviews, jumio, gover...
19         90417  [email, phone, reviews, jumio, offline_governm...
20        208154  [email, phone, reviews, jumio, offline_governm...
23        280070  [phone, reviews, jumio, selfie, government_id,...
24        297545  [email, phone, reviews, jumio, offline_governm...
25      10531070  [email, phone, reviews, jumio, offline_governm...
26        323105  [email, phone, facebook, reviews, jumio, gover...
28        340570      [email, phone, reviews, jumio, government_id]
29        353987  [email, phone, facebook, reviews, jumio, offli...
30        266650  [email, phone, facebook, reviews, jumio, gover...
31        366428                            [email, phone, reviews]
32        366654  [email, phone, reviews, jumio, government_id, ...
34        375625   [phone, facebook, reviews, jumio, government_id]
35        383697  [email, phone, reviews, jumio, government_id, ...
36        385249  [email, phone, reviews, jumio, offline_governm...
38      60054567                                     [email, phone]
42        382031           [email, phone, facebook, reviews, jumio]
43        700165      [email, phone, reviews, jumio, government_id]
44        400154  [email, phone, reviews, jumio, offline_governm...
45        431839  [email, phone, facebook, reviews, jumio, offli...
...          ...                                                ...
16458   10489231                            [email, phone, reviews]
16459    9884877  [phone, reviews, jumio, offline_government_id,...
16460   10494820  [email, phone, reviews, jumio, offline_governm...
16461     147778                  [email, phone, facebook, reviews]
16462   10506886  [email, phone, reviews, jumio, offline_governm...
16466   10537681                            [email, phone, reviews]
16467     892344                [email, phone, reviews, work_email]
16468   10542019                       [email, phone, reviews, kba]
16469   10546460                            [email, phone, reviews]
16470    6021865  [email, phone, facebook, reviews, jumio, gover...
16471   10549554                            [email, phone, reviews]
16472   12407640      [email, phone, reviews, jumio, government_id]
16474   10606456  [email, phone, reviews, jumio, offline_governm...
16476   10627013  [email, phone, reviews, jumio, offline_governm...
16477   10629733  [email, phone, reviews, jumio, government_id, ...
16478    3659319         [email, phone, facebook, reviews, sent_id]
16479   10647003      [email, phone, reviews, jumio, government_id]
16480    6302373  [email, phone, facebook, reviews, jumio, gover...
16482   10659611               [email, phone, jumio, government_id]
16483    8873523                            [email, phone, reviews]
16484    6768121                       [email, phone, reviews, kba]
16486   10691523      [email, phone, reviews, jumio, government_id]
16487   10696403                            [email, phone, reviews]
16488    9350790      [email, phone, reviews, jumio, government_id]
16492    4065834  [email, phone, facebook, reviews, jumio, gover...
16494   10803524                            [email, phone, reviews]
16495   10669110      [email, phone, reviews, jumio, government_id]
16496    3342144      [email, phone, reviews, jumio, government_id]
16497   10840349                  [email, phone, facebook, reviews]
16499   10884942  [email, phone, reviews, jumio, offline_governm...

[26659 rows x 2 columns]

In [9]:
#print(type(tab['host_verifications'].iloc[0]))
print((tab['host_verifications'].iloc[0][0]))

email

In [10]:
d = host_verificaions.to_dict()['HOST_VERIFICATION']
inv_d = dict([[v,k] for k,v in d.items()])
print(inv_d)

{'email': 0, 'facebook': 1, 'google': 2, 'government_id': 3, 'identity_manual': 4, 'jumio': 5, 'kba': 6, 'manual_offline': 7, 'manual_online': 8, 'offline_government_id': 9, 'phone': 10, 'photographer': 11, 'reviews': 12, 'selfie': 13, 'sent_id': 14, 'sesame': 15, 'sesame_offline': 16, 'weibo': 17, 'work_email': 18, 'zhima_selfie': 19}

In [11]:
tab['host_verifications'] = tab['host_verifications'].apply(lambda am_list : [inv_d[x] for x in am_list if len(am_list)>1])
print(tab)

         host_id              host_verifications
0          71615               [0, 10, 12, 5, 3]
2          82522            [0, 10, 12, 5, 9, 3]
3         108310     [0, 10, 12, 5, 9, 13, 3, 4]
4         134698                     [0, 10, 12]
6         136853         [0, 10, 1, 12, 5, 9, 3]
8      195624524                         [0, 10]
10        135703    [0, 10, 1, 12, 5, 14, 3, 18]
12         73163     [0, 10, 12, 7, 5, 9, 3, 18]
13        152232            [0, 10, 12, 5, 9, 3]
17        158596         [0, 10, 1, 12, 7, 5, 3]
18        177617        [0, 10, 1, 12, 5, 3, 18]
19         90417     [0, 10, 12, 5, 9, 13, 3, 4]
20        208154     [0, 10, 12, 5, 9, 13, 3, 4]
23        280070           [10, 12, 5, 13, 3, 4]
24        297545            [0, 10, 12, 5, 9, 3]
25      10531070     [0, 10, 12, 5, 9, 13, 3, 4]
26        323105            [0, 10, 1, 12, 5, 3]
28        340570               [0, 10, 12, 5, 3]
29        353987     [0, 10, 1, 12, 5, 9, 13, 3]
30        266650        [0, 10, 1, 12, 5, 3, 18]
31        366428                     [0, 10, 12]
32        366654           [0, 10, 12, 5, 3, 18]
34        375625               [10, 1, 12, 5, 3]
35        383697           [0, 10, 12, 5, 3, 18]
36        385249     [0, 10, 12, 5, 9, 13, 3, 4]
38      60054567                         [0, 10]
42        382031               [0, 10, 1, 12, 5]
43        700165               [0, 10, 12, 5, 3]
44        400154     [0, 10, 12, 5, 9, 13, 3, 4]
45        431839  [0, 10, 1, 12, 5, 9, 13, 3, 4]
...          ...                             ...
16458   10489231                     [0, 10, 12]
16459    9884877        [10, 12, 5, 9, 13, 3, 4]
16460   10494820     [0, 10, 12, 5, 9, 13, 3, 4]
16461     147778                  [0, 10, 1, 12]
16462   10506886            [0, 10, 12, 5, 9, 3]
16466   10537681                     [0, 10, 12]
16467     892344                 [0, 10, 12, 18]
16468   10542019                  [0, 10, 12, 6]
16469   10546460                     [0, 10, 12]
16470    6021865            [0, 10, 1, 12, 5, 3]
16471   10549554                     [0, 10, 12]
16472   12407640               [0, 10, 12, 5, 3]
16474   10606456            [0, 10, 12, 5, 9, 3]
16476   10627013            [0, 10, 12, 5, 9, 3]
16477   10629733           [0, 10, 12, 5, 3, 18]
16478    3659319              [0, 10, 1, 12, 14]
16479   10647003               [0, 10, 12, 5, 3]
16480    6302373            [0, 10, 1, 12, 5, 3]
16482   10659611                   [0, 10, 5, 3]
16483    8873523                     [0, 10, 12]
16484    6768121                  [0, 10, 12, 6]
16486   10691523               [0, 10, 12, 5, 3]
16487   10696403                     [0, 10, 12]
16488    9350790               [0, 10, 12, 5, 3]
16492    4065834            [0, 10, 1, 12, 5, 3]
16494   10803524                     [0, 10, 12]
16495   10669110               [0, 10, 12, 5, 3]
16496    3342144               [0, 10, 12, 5, 3]
16497   10840349                  [0, 10, 1, 12]
16499   10884942            [0, 10, 12, 5, 9, 3]

[26659 rows x 2 columns]

### just to verify

In [12]:
sum(len(x) for x in tab["host_verifications"])

128165

In [13]:
tab = pd.DataFrame(tab.host_verifications.tolist(), index=tab.host_id).stack().reset_index(level=1, drop=True).reset_index(name='HOST_VERIFICATION_ID')

In [14]:
tab = tab.rename(index=str, columns={"host_id": "HOST_ID"})
tab

          HOST_ID  HOST_VERIFICATION_ID
0           71615                   0.0
1           71615                  10.0
2           71615                  12.0
3           71615                   5.0
4           71615                   3.0
5           82522                   0.0
6           82522                  10.0
7           82522                  12.0
8           82522                   5.0
9           82522                   9.0
10          82522                   3.0
11         108310                   0.0
12         108310                  10.0
13         108310                  12.0
14         108310                   5.0
15         108310                   9.0
16         108310                  13.0
17         108310                   3.0
18         108310                   4.0
19         134698                   0.0
20         134698                  10.0
21         134698                  12.0
22         136853                   0.0
23         136853                  10.0
24         136853                   1.0
25         136853                  12.0
26         136853                   5.0
27         136853                   9.0
28         136853                   3.0
29      195624524                   0.0
...           ...                   ...
128135    9350790                   3.0
128136    4065834                   0.0
128137    4065834                  10.0
128138    4065834                   1.0
128139    4065834                  12.0
128140    4065834                   5.0
128141    4065834                   3.0
128142   10803524                   0.0
128143   10803524                  10.0
128144   10803524                  12.0
128145   10669110                   0.0
128146   10669110                  10.0
128147   10669110                  12.0
128148   10669110                   5.0
128149   10669110                   3.0
128150    3342144                   0.0
128151    3342144                  10.0
128152    3342144                  12.0
128153    3342144                   5.0
128154    3342144                   3.0
128155   10840349                   0.0
128156   10840349                  10.0
128157   10840349                   1.0
128158   10840349                  12.0
128159   10884942                   0.0
128160   10884942                  10.0
128161   10884942                  12.0
128162   10884942                   5.0
128163   10884942                   9.0
128164   10884942                   3.0

[128165 rows x 2 columns]

In [15]:

print(type(tab['HOST_ID'].iloc[0]))

<class 'numpy.int64'>

In [16]:
tab.count

<bound method DataFrame.count of           HOST_ID  HOST_VERIFICATION_ID
0           71615                   0.0
1           71615                  10.0
2           71615                  12.0
3           71615                   5.0
4           71615                   3.0
5           82522                   0.0
6           82522                  10.0
7           82522                  12.0
8           82522                   5.0
9           82522                   9.0
10          82522                   3.0
11         108310                   0.0
12         108310                  10.0
13         108310                  12.0
14         108310                   5.0
15         108310                   9.0
16         108310                  13.0
17         108310                   3.0
18         108310                   4.0
19         134698                   0.0
20         134698                  10.0
21         134698                  12.0
22         136853                   0.0
23         136853                  10.0
24         136853                   1.0
25         136853                  12.0
26         136853                   5.0
27         136853                   9.0
28         136853                   3.0
29      195624524                   0.0
...           ...                   ...
128135    9350790                   3.0
128136    4065834                   0.0
128137    4065834                  10.0
128138    4065834                   1.0
128139    4065834                  12.0
128140    4065834                   5.0
128141    4065834                   3.0
128142   10803524                   0.0
128143   10803524                  10.0
128144   10803524                  12.0
128145   10669110                   0.0
128146   10669110                  10.0
128147   10669110                  12.0
128148   10669110                   5.0
128149   10669110                   3.0
128150    3342144                   0.0
128151    3342144                  10.0
128152    3342144                  12.0
128153    3342144                   5.0
128154    3342144                   3.0
128155   10840349                   0.0
128156   10840349                  10.0
128157   10840349                   1.0
128158   10840349                  12.0
128159   10884942                   0.0
128160   10884942                  10.0
128161   10884942                  12.0
128162   10884942                   5.0
128163   10884942                   9.0
128164   10884942                   3.0

[128165 rows x 2 columns]>

In [17]:
tab.to_csv(r'Host_verif_AND_Host.csv', index = False, encoding='utf-8')

In [18]:
print(tab.count())

HOST_ID                 128165
HOST_VERIFICATION_ID    128165
dtype: int64

In [19]:
print(tab.drop_duplicates().count())

HOST_ID                 128165
HOST_VERIFICATION_ID    128165
dtype: int64