In [3]:
import pandas as pd 
import numpy as np
import csv

In [5]:
barcelona_listings = pd.read_csv("barcelona_listings.csv")
#barcelona_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/barcelona_calendar.csv")
#barcelona_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/barcelona_reviews.csv")

madrid_listings = pd.read_csv("madrid_listings_filtered.csv")
#madrid_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/madrid_calendar.csv")
#madrid_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/madrid_reviews.csv")

berlin_listings = pd.read_csv("berlin_listings_filtered.csv")
#berlin_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/berlin_calendar.csv")
#berlin_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/berlin_reviews.csv")

#countries = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/Countries.csv")
#cities = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/Cities.csv")

FileNotFoundError: File b'C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/Countries.csv' does not exist

In [3]:
cor_city = []
for i in range(0, len(barcelona_listings)):
    cor_city.append('barcelona')
barcelona_listings['city'] = cor_city

#all city of barcelona_listings are named "barcelona"
barcelona_listings[barcelona_listings['city']!='barcelona']

cor_city = []
for i in range(0, len(madrid_listings)):
    cor_city.append('madrid')
madrid_listings['city'] = cor_city

#all city of madrid_listings are named "madrid"
madrid_listings[madrid_listings['city']!='madrid']

cor_city = []
for i in range(0, len(berlin_listings)):
    cor_city.append('berlin')
berlin_listings['city'] = cor_city

#all city of berlin_listings are named "berlin"
berlin_listings[berlin_listings['city']!='berlin']

Empty DataFrame
Columns: [id, listing_url, name, summary, space, description, neighborhood_overview, notes, transit, access, interaction, house_rules, picture_url, host_id, host_url, host_name, host_since, host_about, host_response_time, host_response_rate, host_thumbnail_url, host_picture_url, host_neighbourhood, host_verifications, neighbourhood, city, country_code, country, latitude, longitude, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, minimum_nights, maximum_nights, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, is_business_travel_ready, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification]
Index: []

[0 rows x 59 columns]

In [4]:
tab2 = barcelona_listings['neighbourhood']
tab3 = barcelona_listings['host_neighbourhood']
temp1 = pd.concat([tab2, tab3])
temp1 = temp1.to_frame()
temp1 = temp1.rename(index=str, columns={0:"NEIGH"})
temp2 = np.zeros(temp1.count()).astype(int)
temp1['CITY_ID'] = temp2
barcelona_neigh = temp1
barcelona_neigh.head()

                        NEIGH  CITY_ID
0  El Camp de l'Arpa del Clot        0
1          La Sagrada Família        0
2                 El Poblenou        0
3              Vila de Gràcia        0
4            El Baix Guinardó        0

In [5]:
tab2 = madrid_listings['neighbourhood']
tab3 = madrid_listings['host_neighbourhood']
temp1 = pd.concat([tab2, tab3])
temp1 = temp1.to_frame()
temp1 = temp1.rename(index=str, columns={0:"NEIGH"})
temp2 = np.ones(temp1.count()).astype(int)
temp1['CITY_ID'] = temp2
madrid_neigh = temp1
madrid_neigh.head()

         NEIGH  CITY_ID
0  Embajadores        1
1       Aluche        1
2     Malasaña        1
3     Justicia        1
4      Legazpi        1

In [6]:
tab2 = berlin_listings['neighbourhood']
tab3 = berlin_listings['host_neighbourhood']
temp1 = pd.concat([tab2, tab3])
temp1 = temp1.to_frame()
temp1 = temp1.rename(index=str, columns={0:"NEIGH"})
temp2 = np.repeat(2,temp1.count())
temp1['CITY_ID'] = temp2
berlin_neigh = temp1
print(type(berlin_neigh))
berlin_neigh.head()

<class 'pandas.core.frame.DataFrame'>

                  NEIGH  CITY_ID
0             Kreuzberg        2
1        Friedrichshain        2
2       Prenzlauer Berg        2
3  Alt-Hohenschönhausen        2
4                Moabit        2

In [7]:
tab_neigh = pd.concat([barcelona_neigh, madrid_neigh, berlin_neigh])
tab_neigh = tab_neigh.drop_duplicates()
print(type(tab_neigh))
print(tab_neigh.count())
tab_neigh.head()

<class 'pandas.core.frame.DataFrame'>
NEIGH      248
CITY_ID    248
dtype: int64

                        NEIGH  CITY_ID
0  El Camp de l'Arpa del Clot        0
1          La Sagrada Família        0
2                 El Poblenou        0
3              Vila de Gràcia        0
4            El Baix Guinardó        0

In [8]:
index = np.arange(len(tab_neigh))
tab_neigh['NEIGH_ID'] = index
tab_neigh = tab_neigh.set_index(['NEIGH_ID'])
print(type(tab_neigh))
print(len(tab_neigh))
tab_neigh.head()

<class 'pandas.core.frame.DataFrame'>
248

                               NEIGH  CITY_ID
NEIGH_ID
0         El Camp de l'Arpa del Clot        0
1                 La Sagrada Família        0
2                        El Poblenou        0
3                     Vila de Gràcia        0
4                   El Baix Guinardó        0

In [9]:
tab_neigh.to_csv(r'C:\Users\loris\OneDrive\EPFL\2018-19\databaseSystems\project\database\neigh.csv', encoding='utf-8')