In [1]:
import pandas as pd 
import numpy as np
import csv

In [2]:
#barcelona_listings = pd.read_csv("barcelona_listings.csv")
#barcelona_calendar = pd.read_csv("barcelona_calendar.csv")
barcelona_reviews = pd.read_csv("barcelona_reviews.csv")

#madrid_listings = pd.read_csv("madrid_listings_filtered.csv")
#madrid_calendar = pd.read_csv("madrid_calendar.csv")
madrid_reviews = pd.read_csv("madrid_reviews.csv")

#berlin_listings = pd.read_csv("berlin_listings_filtered.csv")
#berlin_calendar = pd.read_csv("berlin_calendar.csv")
berlin_reviews = pd.read_csv("berlin_reviews.csv")

#countries = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/Countries.csv")
#cities = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/Cities.csv")

In [3]:
tab_reviews = pd.concat([barcelona_reviews, madrid_reviews,berlin_reviews])
tab_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,18666,50158511,2015-10-10,1559265,Jody,Very nice flat. We had easy transportation to ...
1,18674,4808211,2013-05-27,4841196,Caron,"Great location. Clean, spacious flat. Would re..."
2,18674,10660311,2014-03-02,11600277,Juan Carlos,Mi mejor recomendaci贸n para este departamento....
3,18674,41087522,2015-08-04,35231385,Shlomi,"Big apartment, well equipped.\nVery good servi..."
4,18674,81000756,2016-06-20,23223644,Joost,The Check in was fast and flexible. The price ...

In [4]:
tab_reviews = tab_reviews.rename(index=str, columns={"listing_id": "LISTING_ID", 'id': 'REVIEW_ID', 'date': 'DATE_REVIEW', 'reviewer_id':'REVIEWER_ID', 'reviewer_name':'REVIEWER_NAME', 'comments': 'REVIEWER_COMMENT'})
tab_reviews = tab_reviews[['REVIEW_ID', 'LISTING_ID', 'DATE_REVIEW', 'REVIEWER_ID', 'REVIEWER_NAME', 'REVIEWER_COMMENT']]
tab_reviews['REVIEWER_COMMENT'] = tab_reviews['REVIEWER_COMMENT'].str.replace('\n', '').str.replace(',','')
tab_reviews.head()

,REVIEW_ID,LISTING_ID,DATE_REVIEW,REVIEWER_ID,REVIEWER_NAME,REVIEWER_COMMENT
0,50158511,18666,2015-10-10,1559265,Jody,Very nice flat. We had easy transportation to ...
1,4808211,18674,2013-05-27,4841196,Caron,Great location. Clean spacious flat. Would rec...
2,10660311,18674,2014-03-02,11600277,Juan Carlos,Mi mejor recomendaci贸n para este departamento....
3,41087522,18674,2015-08-04,35231385,Shlomi,Big apartment well equipped.Very good service ...
4,81000756,18674,2016-06-20,23223644,Joost,The Check in was fast and flexible. The price ...

In [6]:
tab_reviews.to_csv('reviews.csv', index = False, encoding='utf-8')

PermissionError: [Errno 13] Permission denied: 'reviews.csv'

In [ ]:
tab_reviews.count()

In [ ]:
tab_reviews.drop_duplicates().count()