In [1]:
import numpy as np
import pandas as pd

In [2]:
barcelona_listings = pd.read_csv("barcelona_listings.csv")
berlin_listings = pd.read_csv("berlin_listings_filtered.csv")
madrid_listings = pd.read_csv("madrid_listings_filtered.csv")

## BED TYPES

In [3]:
all_bed_types = pd.concat([berlin_listings['bed_type'],
                           madrid_listings['bed_type'],
                           barcelona_listings['bed_type']])

In [4]:
bed_types = all_bed_types.unique()
bed_types = pd.Series(bed_types)
bed_types

0         Real Bed
1    Pull-out Sofa
2            Futon
3            Couch
4           Airbed
dtype: object

In [5]:
bed_types = pd.DataFrame(bed_types).rename(index = str, columns = {0 : 'BED_TYPE'})
bed_types['BED_TYPE_ID'] = range(bed_types['BED_TYPE'].count())
bed_types = bed_types.set_index('BED_TYPE_ID')

In [6]:
bed_types.to_csv('bed_types.csv')

## Cancelation policy

In [7]:
all_cancel_pol = pd.concat([berlin_listings['cancellation_policy'],
                           madrid_listings['cancellation_policy'],
                           barcelona_listings['cancellation_policy']])

In [8]:
cancel_pol = all_cancel_pol.unique()
cancel_pol = pd.Series(cancel_pol)
cancel_pol

0    strict_14_with_grace_period
1                       moderate
2                       flexible
3                super_strict_60
4                super_strict_30
5                         strict
dtype: object

In [9]:
cancel_pol = pd.DataFrame(cancel_pol).rename(index = str, columns = {0 : 'CANCELLATION_POLICY'})
cancel_pol['CANCELLATION_POLICY_ID'] = range(cancel_pol['CANCELLATION_POLICY'].count())
cancel_pol = cancel_pol.set_index('CANCELLATION_POLICY_ID')

In [10]:
cancel_pol.to_csv('cancel_pol.csv')

## Room types

In [11]:
all_room_types = pd.concat([berlin_listings['room_type'],
                           madrid_listings['room_type'],
                           barcelona_listings['room_type']])

In [12]:
room_types = pd.Series(all_room_types.unique())
room_types

0    Entire home/apt
1       Private room
2        Shared room
dtype: object

In [13]:
room_types = pd.DataFrame(room_types).rename(index = str, columns = {0 : 'ROOM_TYPE'})
room_types['ROOM_TYPE_ID'] = range(room_types['ROOM_TYPE'].count())
room_types = room_types.set_index('ROOM_TYPE_ID')
room_types.to_csv('room_type.csv')

In [14]:
room_types

                    ROOM_TYPE
ROOM_TYPE_ID
0             Entire home/apt
1                Private room
2                 Shared room

## Property types

In [15]:
all_property_types = pd.concat([berlin_listings['property_type'],
                           madrid_listings['property_type'],
                           barcelona_listings['property_type']])

In [16]:
property_types = pd.Series(all_property_types.unique())
property_types

0                  Apartment
1                Condominium
2                       Loft
3                      House
4                  Townhouse
5                 Tiny house
6                Guest suite
7         Serviced apartment
8                     Hostel
9                 Guesthouse
10                     Other
11         Bed and breakfast
12                   Cottage
13                    Chalet
14                  Bungalow
15                     Cabin
16                    Castle
17            Boutique hotel
18                     Villa
19                      Boat
20                Aparthotel
21                 Houseboat
22                     Hotel
23                      Tipi
24                    Resort
25                 Camper/RV
26                     Train
27                    In-law
28                      Cave
29                      Barn
30    Casa particular (Cuba)
31                Dome house
32                       Hut
33                      Dorm
34               Earth house
35     Pension (South Korea)
36                 Farm stay
dtype: object

In [17]:
property_types = pd.DataFrame(property_types).rename(index = str, columns = {0 : 'PROPERTY_TYPE'})
property_types['PROPERTY_TYPE_ID'] = range(property_types['PROPERTY_TYPE'].count())
property_types = property_types.set_index('PROPERTY_TYPE_ID')
property_types.to_csv('property_type.csv')