In [55]:
import pandas as pd 
import numpy as np
import csv

In [56]:
barcelona_listings = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/barcelona_listings.csv")
#barcelona_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/barcelona_calendar.csv")
#barcelona_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/barcelona_reviews.csv")

madrid_listings = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/madrid_listings_filtered.csv")
#madrid_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/madrid_calendar.csv")
#madrid_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/madrid_reviews.csv")

berlin_listings = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/berlin_listings_filtered.csv")
#berlin_calendar = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/berlin_calendar.csv")
#berlin_reviews = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/berlin_reviews.csv")

host_verificaions = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/host_verifications.csv")
#countries = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/Countries.csv")
#cities = pd.read_csv("C:/Users/loris/OneDrive/EPFL/2018-19/databaseSystems/project/database/Cities.csv")

In [57]:
host_verificaions.head()

   HOST_VERIFICATION_ID HOST_VERIFICATION
0                     0          facebook
1                     1            google
2                     2     government_id
3                     3   identity_manual
4                     4             jumio

In [58]:
barcelona_listings = barcelona_listings[["host_id", "host_verifications"]]
madrid_listings = madrid_listings[["host_id", "host_verifications"]]
berlin_listings = berlin_listings[["host_id", "host_verifications"]]
tab = pd.concat([barcelona_listings, madrid_listings,berlin_listings]).drop_duplicates()
tab.head()

   host_id                                 host_verifications
0    71615  ['email', 'phone', 'reviews', 'jumio', 'govern...
2    82522  ['email', 'phone', 'reviews', 'jumio', 'offlin...
3   108310  ['email', 'phone', 'reviews', 'jumio', 'offlin...
4   134698                      ['email', 'phone', 'reviews']
6   136853  ['email', 'phone', 'facebook', 'reviews', 'jum...

In [41]:
tab.dtypes

host_id                int64
host_verifications    object
dtype: object

In [42]:
print(type(tab['host_verifications'].iloc[0]))

<class 'str'>

In [43]:
tab['host_verifications'].iloc[0]

"['email', 'phone', 'reviews', 'jumio', 'government_id']"

In [59]:
tab['host_verifications'] = tab['host_verifications'].apply(lambda x:x.replace('[','').replace(']','').replace("'",''))
list = tab['host_verifications'].str.split(',')#, expand = True)
tab['host_verifications'] = list
tab

         host_id                                 host_verifications
0          71615  [email,  phone,  reviews,  jumio,  government_id]
2          82522  [email,  phone,  reviews,  jumio,  offline_gov...
3         108310  [email,  phone,  reviews,  jumio,  offline_gov...
4         134698                          [email,  phone,  reviews]
6         136853  [email,  phone,  facebook,  reviews,  jumio,  ...
8      195624524                                    [email,  phone]
10        135703  [email,  phone,  facebook,  reviews,  jumio,  ...
12         73163  [email,  phone,  reviews,  manual_offline,  ju...
13        152232  [email,  phone,  reviews,  jumio,  offline_gov...
17        158596  [email,  phone,  facebook,  reviews,  manual_o...
18        177617  [email,  phone,  facebook,  reviews,  jumio,  ...
19         90417  [email,  phone,  reviews,  jumio,  offline_gov...
20        208154  [email,  phone,  reviews,  jumio,  offline_gov...
23        280070  [phone,  reviews,  jumio,  selfie,  government...
24        297545  [email,  phone,  reviews,  jumio,  offline_gov...
25      10531070  [email,  phone,  reviews,  jumio,  offline_gov...
26        323105  [email,  phone,  facebook,  reviews,  jumio,  ...
28        340570  [email,  phone,  reviews,  jumio,  government_id]
29        353987  [email,  phone,  facebook,  reviews,  jumio,  ...
30        266650  [email,  phone,  facebook,  reviews,  jumio,  ...
31        366428                          [email,  phone,  reviews]
32        366654  [email,  phone,  reviews,  jumio,  government_...
34        375625  [phone,  facebook,  reviews,  jumio,  governme...
35        383697  [email,  phone,  reviews,  jumio,  government_...
36        385249  [email,  phone,  reviews,  jumio,  offline_gov...
38      60054567                                    [email,  phone]
42        382031       [email,  phone,  facebook,  reviews,  jumio]
43        700165  [email,  phone,  reviews,  jumio,  government_id]
44        400154  [email,  phone,  reviews,  jumio,  offline_gov...
45        431839  [email,  phone,  facebook,  reviews,  jumio,  ...
...          ...                                                ...
16458   10489231                          [email,  phone,  reviews]
16459    9884877  [phone,  reviews,  jumio,  offline_government_...
16460   10494820  [email,  phone,  reviews,  jumio,  offline_gov...
16461     147778               [email,  phone,  facebook,  reviews]
16462   10506886  [email,  phone,  reviews,  jumio,  offline_gov...
16466   10537681                          [email,  phone,  reviews]
16467     892344             [email,  phone,  reviews,  work_email]
16468   10542019                    [email,  phone,  reviews,  kba]
16469   10546460                          [email,  phone,  reviews]
16470    6021865  [email,  phone,  facebook,  reviews,  jumio,  ...
16471   10549554                          [email,  phone,  reviews]
16472   12407640  [email,  phone,  reviews,  jumio,  government_id]
16474   10606456  [email,  phone,  reviews,  jumio,  offline_gov...
16476   10627013  [email,  phone,  reviews,  jumio,  offline_gov...
16477   10629733  [email,  phone,  reviews,  jumio,  government_...
16478    3659319     [email,  phone,  facebook,  reviews,  sent_id]
16479   10647003  [email,  phone,  reviews,  jumio,  government_id]
16480    6302373  [email,  phone,  facebook,  reviews,  jumio,  ...
16482   10659611            [email,  phone,  jumio,  government_id]
16483    8873523                          [email,  phone,  reviews]
16484    6768121                    [email,  phone,  reviews,  kba]
16486   10691523  [email,  phone,  reviews,  jumio,  government_id]
16487   10696403                          [email,  phone,  reviews]
16488    9350790  [email,  phone,  reviews,  jumio,  government_id]
16492    4065834  [email,  phone,  facebook,  reviews,  jumio,  ...
16494   10803524                          [email,  phone,  reviews]
16495   10669110  [email,  phone,  reviews,  jumio,  government_id]
16496    3342144  [email,  phone,  reviews,  jumio,  government_id]
16497   10840349               [email,  phone,  facebook,  reviews]
16499   10884942  [email,  phone,  reviews,  jumio,  offline_gov...

[26659 rows x 2 columns]

In [60]:
#print(type(tab['host_verifications'].iloc[0]))
print((tab['host_verifications'].iloc[0][0]))

email

In [61]:
d = host_verificaions.to_dict()['HOST_VERIFICATION']
inv_d = dict([[v,k] for k,v in d.items()])
print(inv_d)

{' facebook': 0, ' google': 1, ' government_id': 2, ' identity_manual': 3, ' jumio': 4, ' kba': 5, ' manual_offline': 6, ' manual_online': 7, ' offline_government_id': 8, ' phone': 9, ' photographer': 10, ' reviews': 11, ' selfie': 12, ' sent_id': 13, ' sesame': 14, ' sesame_offline': 15, ' weibo': 16, ' work_email': 17, ' zhima_selfie': 18, 'email': 19, 'facebook': 20, 'identity_manual': 21, 'jumio': 22, 'phone': 23, 'reviews': 24}

In [62]:
tab['host_verifications'] = tab['host_verifications'].apply(lambda am_list : [inv_d[x] for x in am_list if len(am_list)>1])
print(tab)

         host_id              host_verifications
0          71615               [19, 9, 11, 4, 2]
2          82522            [19, 9, 11, 4, 8, 2]
3         108310     [19, 9, 11, 4, 8, 12, 2, 3]
4         134698                     [19, 9, 11]
6         136853         [19, 9, 0, 11, 4, 8, 2]
8      195624524                         [19, 9]
10        135703    [19, 9, 0, 11, 4, 13, 2, 17]
12         73163     [19, 9, 11, 6, 4, 8, 2, 17]
13        152232            [19, 9, 11, 4, 8, 2]
17        158596         [19, 9, 0, 11, 6, 4, 2]
18        177617        [19, 9, 0, 11, 4, 2, 17]
19         90417     [19, 9, 11, 4, 8, 12, 2, 3]
20        208154     [19, 9, 11, 4, 8, 12, 2, 3]
23        280070           [23, 11, 4, 12, 2, 3]
24        297545            [19, 9, 11, 4, 8, 2]
25      10531070     [19, 9, 11, 4, 8, 12, 2, 3]
26        323105            [19, 9, 0, 11, 4, 2]
28        340570               [19, 9, 11, 4, 2]
29        353987     [19, 9, 0, 11, 4, 8, 12, 2]
30        266650        [19, 9, 0, 11, 4, 2, 17]
31        366428                     [19, 9, 11]
32        366654           [19, 9, 11, 4, 2, 17]
34        375625               [23, 0, 11, 4, 2]
35        383697           [19, 9, 11, 4, 2, 17]
36        385249     [19, 9, 11, 4, 8, 12, 2, 3]
38      60054567                         [19, 9]
42        382031               [19, 9, 0, 11, 4]
43        700165               [19, 9, 11, 4, 2]
44        400154     [19, 9, 11, 4, 8, 12, 2, 3]
45        431839  [19, 9, 0, 11, 4, 8, 12, 2, 3]
...          ...                             ...
16458   10489231                     [19, 9, 11]
16459    9884877        [23, 11, 4, 8, 12, 2, 3]
16460   10494820     [19, 9, 11, 4, 8, 12, 2, 3]
16461     147778                  [19, 9, 0, 11]
16462   10506886            [19, 9, 11, 4, 8, 2]
16466   10537681                     [19, 9, 11]
16467     892344                 [19, 9, 11, 17]
16468   10542019                  [19, 9, 11, 5]
16469   10546460                     [19, 9, 11]
16470    6021865            [19, 9, 0, 11, 4, 2]
16471   10549554                     [19, 9, 11]
16472   12407640               [19, 9, 11, 4, 2]
16474   10606456            [19, 9, 11, 4, 8, 2]
16476   10627013            [19, 9, 11, 4, 8, 2]
16477   10629733           [19, 9, 11, 4, 2, 17]
16478    3659319              [19, 9, 0, 11, 13]
16479   10647003               [19, 9, 11, 4, 2]
16480    6302373            [19, 9, 0, 11, 4, 2]
16482   10659611                   [19, 9, 4, 2]
16483    8873523                     [19, 9, 11]
16484    6768121                  [19, 9, 11, 5]
16486   10691523               [19, 9, 11, 4, 2]
16487   10696403                     [19, 9, 11]
16488    9350790               [19, 9, 11, 4, 2]
16492    4065834            [19, 9, 0, 11, 4, 2]
16494   10803524                     [19, 9, 11]
16495   10669110               [19, 9, 11, 4, 2]
16496    3342144               [19, 9, 11, 4, 2]
16497   10840349                  [19, 9, 0, 11]
16499   10884942            [19, 9, 11, 4, 8, 2]

[26659 rows x 2 columns]

In [63]:
tab = pd.DataFrame(tab.host_verifications.tolist(), index=tab.host_id).stack().reset_index(level=1, drop=True).reset_index(name='HOST_VERIFICATION_ID')

In [65]:
tab = tab.rename(index=str, columns={"host_id": "HOST_ID"})
tab

          HOST_ID  HOST_VERIFICATION_ID
0           71615                  19.0
1           71615                   9.0
2           71615                  11.0
3           71615                   4.0
4           71615                   2.0
5           82522                  19.0
6           82522                   9.0
7           82522                  11.0
8           82522                   4.0
9           82522                   8.0
10          82522                   2.0
11         108310                  19.0
12         108310                   9.0
13         108310                  11.0
14         108310                   4.0
15         108310                   8.0
16         108310                  12.0
17         108310                   2.0
18         108310                   3.0
19         134698                  19.0
20         134698                   9.0
21         134698                  11.0
22         136853                  19.0
23         136853                   9.0
24         136853                   0.0
25         136853                  11.0
26         136853                   4.0
27         136853                   8.0
28         136853                   2.0
29      195624524                  19.0
...           ...                   ...
128135    9350790                   2.0
128136    4065834                  19.0
128137    4065834                   9.0
128138    4065834                   0.0
128139    4065834                  11.0
128140    4065834                   4.0
128141    4065834                   2.0
128142   10803524                  19.0
128143   10803524                   9.0
128144   10803524                  11.0
128145   10669110                  19.0
128146   10669110                   9.0
128147   10669110                  11.0
128148   10669110                   4.0
128149   10669110                   2.0
128150    3342144                  19.0
128151    3342144                   9.0
128152    3342144                  11.0
128153    3342144                   4.0
128154    3342144                   2.0
128155   10840349                  19.0
128156   10840349                   9.0
128157   10840349                   0.0
128158   10840349                  11.0
128159   10884942                  19.0
128160   10884942                   9.0
128161   10884942                  11.0
128162   10884942                   4.0
128163   10884942                   8.0
128164   10884942                   2.0

[128165 rows x 2 columns]

In [66]:

print(type(tab['HOST_ID'].iloc[0]))

<class 'numpy.int64'>

In [67]:
tab.to_csv(r'C:\Users\loris\OneDrive\EPFL\2018-19\databaseSystems\project\database\Host_verif_AND_Host.csv', index = False, encoding='utf-8')

In [68]:
print(tab.count())

HOST_ID                 128165
HOST_VERIFICATION_ID    128165
dtype: int64

In [69]:
print(tab.drop_duplicates().count())

HOST_ID                 128165
HOST_VERIFICATION_ID    128165
dtype: int64