In [1]:
import numpy as np
import pandas as pd

# Importing data

### Becelona Data

In [2]:
barcelona_calendar = pd.read_csv("barcelona_calendar.csv")
barcelona_listings = pd.read_csv("barcelona_listings.csv")
barcelona_reviews = pd.read_csv("barcelona_reviews.csv")

### Berlin Data

In [3]:
berlin_calendar = pd.read_csv("berlin_calendar.csv")
berlin_listings = pd.read_csv("berlin_listings_filtered.csv")
berlin_reviews = pd.read_csv("berlin_reviews.csv")

### Madrid Data

In [4]:
madrid_calendar = pd.read_csv("madrid_calendar.csv")
madrid_listings = pd.read_csv("madrid_listings_filtered.csv")
madrid_reviews = pd.read_csv("madrid_reviews.csv")

# Data management
## amenities
### amenities: AMENITY; AMENITY_ID

In [5]:
all_amenities = pd.concat([berlin_listings['amenities'], madrid_listings['amenities'], barcelona_listings['amenities']]) #concatenate all amenities
amenities = all_amenities.str.replace('{','').str.replace('}','').str.replace('"', '') #remove '{' , '}' and '"' 
amenities = amenities.str.split(',', expand = True) #seperate all amenities
a = amenities.sort_index().values #change into a np array
a = a.ravel() #ravel into a 1D array
a = a[a != None] #removes all None
a = np.unique(a) #same as drop_duplicates
a = a[1:] #the first one was an empty string
amenities = pd.Series(a) #to pd
amenities = amenities.sort_values() # those are the amenities sorted
#note: the toilet amenity has a space at the beginning

In [6]:
amenities = pd.DataFrame(amenities).rename(index = str, columns = {0 : 'AMENITY'}) #gives amenities column a name
amenities['AMENITY_ID'] = range(amenities['AMENITY'].count()) #create indexes for each amenity
amenities= amenities.set_index('AMENITY_ID') #defines the created indexes as the index

In [7]:
amenities.head(5)

                             AMENITY
AMENITY_ID
0                             toilet
1                   24-hour check-in
2              Accessible-height bed
3           Accessible-height toilet
4                   Air conditioning

In [8]:
amenities.to_csv('amenities.csv')

### amenities_AND_listings: AMENITY_ID; LISTING_ID

In [9]:
listings_and_amenities = pd.concat([berlin_listings[['id','amenities']], madrid_listings[['id','amenities']], barcelona_listings[['id','amenities']]]) #concatenate all amenities with listings_id

In [10]:
am = listings_and_amenities['amenities'].str.replace('{','').str.replace('}','').str.replace('"','') 
am = am.map(lambda x: np.array(x.split(','))) #list of list of amenities
d = amenities.to_dict()['AMENITY']
inv_d = dict([[v,k] for k,v in d.items()]) #setup the mapping from amenities to amenity_id
am = am.map(lambda am_list : [inv_d[x] for x in am_list if len(am_list)>1]) #all lists of all amenities_id
am.head()

0    [159, 27, 176, 94, 69, 83, 58, 166, 148, 28, 6...
1    [176, 94, 149, 26, 83, 166, 54, 140, 1, 77, 17...
2    [159, 90, 176, 94, 117, 149, 26, 83, 166, 48, ...
3    [159, 90, 176, 94, 69, 26, 83, 58, 166, 63, 60...
4    [159, 176, 94, 69, 26, 83, 58, 148, 63, 60, 54...
Name: amenities, dtype: object

In [11]:
listings_and_amenities.drop(['amenities'], axis = 1)
listings_and_amenities['amenities'] = am
listings_and_amenities.head()

        id                                          amenities
0  2137277  [159, 27, 176, 94, 69, 83, 58, 166, 148, 28, 6...
1  2138961  [176, 94, 149, 26, 83, 166, 54, 140, 1, 77, 17...
2  2140695  [159, 90, 176, 94, 117, 149, 26, 83, 166, 48, ...
3  2147642  [159, 90, 176, 94, 69, 26, 83, 58, 166, 63, 60...
4  2147777  [159, 176, 94, 69, 26, 83, 58, 148, 63, 60, 54...

In [12]:
am_lis_np = listings_and_amenities.values
temp = [np.column_stack((np.repeat(x[0], len(x[1])), np.array(x[1]))) for x in part]

In [13]:
listings_and_amenities_np = np.array([])
for x in temp:
    listings_and_amenities_np = np.append(listings_and_amenities_np, x)

In [24]:
listings_and_amenities_np = listings_and_amenities_np.reshape(int(listings_and_amenities_np.shape[0]/2), 2)

ValueError: cannot reshape array of size 1661486 into shape (415371,2)

In [56]:
listings_and_amenities_np = listings_and_amenities_np.astype('int64')

In [58]:
listings_and_amenities = pd.DataFrame({'LISTING_ID': listings_and_amenities_np[:,0], 'AMENITY_ID': listings_and_amenities_np[:,1]})
listings_and_amenities.head()

   LISTING_ID  AMENITY_ID
0     2137277         159
1     2137277          27
2     2137277         176
3     2137277          94
4     2137277          69

In [59]:
listings_and_amenities.to_csv('amenities_AND_listings.csv', index = False)

## Hosts

### host_response_time: HOST_RESPONSE_TIME_ID; HOST_RESPONSE_TIME

In [72]:
# Those are all the hosts of all the different listings
listingsB_hosts = berlin_listings.iloc[:, 13:24]
listingsM_hosts = madrid_listings.iloc[:, 13:24]
listingsBa_hosts = barcelona_listings.iloc[:, 13:24]
# We concatenate hosts from all cities
listings_hosts = pd.concat([listingsB_hosts, listingsM_hosts, listingsBa_hosts])
# we remove host duplicates since a host can have several listings.
hosts = listings_hosts.drop_duplicates(subset = 'host_id', keep = 'first')

In [73]:
host_resp_time = pd.DataFrame(hosts['host_response_time'].drop_duplicates(keep = 'first')) #filters the host_response_time
host_resp_time['host_response_time_id'] = range(host_resp_time['host_response_time'].count()+1) #creates indexes
host_resp_time = host_resp_time.set_index('host_response_time_id') #set new indexes
host_resp_time.head()

                       host_response_time
host_response_time_id
0                          within an hour
1                                     NaN
2                            within a day
3                      within a few hours
4                      a few days or more

In [62]:
host_resp_time.to_csv('host_response_time.csv')

## hosts

In [74]:
hosts.set_index('host_id') #setting up index
temp = hosts['host_response_rate'].str.replace('%','').values #create new pd.Series of new host_response_rates
hosts = hosts.drop(['host_response_rate'], axis = 1) #remove previous column
hosts['host_response_rate'] = temp #add new column
del(temp)
hosts.head()

,host_id,host_url,host_name,host_since,host_about,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_verifications,host_response_rate
0,10692949,https://www.airbnb.com/users/show/10692949,Suites & More,2013-12-18,Like hosts we like to offer what we would like...,within an hour,https://a0.muscache.com/im/users/10692949/prof...,https://a0.muscache.com/im/users/10692949/prof...,Kreuzberg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",100
1,10914898,https://www.airbnb.com/users/show/10914898,Anita,2013-12-30,NaN,NaN,https://a0.muscache.com/im/pictures/37a4e6f0-6...,https://a0.muscache.com/im/pictures/37a4e6f0-6...,Friedrichshain,"['email', 'phone', 'reviews', 'jumio', 'govern...",NaN
2,4314868,https://www.airbnb.com/users/show/4314868,Katharina,2012-12-03,Ich lebe in Berlin - im schönen Prenzlauer Ber...,within an hour,https://a0.muscache.com/im/users/4314868/profi...,https://a0.muscache.com/im/users/4314868/profi...,Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",90
3,9828152,https://www.airbnb.com/users/show/9828152,Katrin,2013-11-05,"Wir sind leidenschaftliche Berliner, lieben un...",NaN,https://a0.muscache.com/im/users/9828152/profi...,https://a0.muscache.com/im/users/9828152/profi...,Alt-Hohenschönhausen,"['email', 'phone', 'reviews']",NaN
4,10962834,https://www.airbnb.com/users/show/10962834,Katharina,2014-01-02,NaN,NaN,https://a0.muscache.com/im/users/10962834/prof...,https://a0.muscache.com/im/users/10962834/prof...,Moabit,"['email', 'phone', 'reviews']",NaN

### changing the host_response_time with thier ids

In [75]:
d = host_resp_time.to_dict()['host_response_time']
inv_d = dict([[v,k] for k,v in d.items()])
host_resp_time = hosts['host_response_time'].map(inv_d, na_action = 'ignore')

In [76]:
hosts = hosts.drop(['host_response_time'], axis = 1)
hosts['host_response_time'] = host_resp_time
hosts.head()

,host_id,host_url,host_name,host_since,host_about,host_thumbnail_url,host_picture_url,host_neighbourhood,host_verifications,host_response_rate,host_response_time
0,10692949,https://www.airbnb.com/users/show/10692949,Suites & More,2013-12-18,Like hosts we like to offer what we would like...,https://a0.muscache.com/im/users/10692949/prof...,https://a0.muscache.com/im/users/10692949/prof...,Kreuzberg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",100,0
1,10914898,https://www.airbnb.com/users/show/10914898,Anita,2013-12-30,NaN,https://a0.muscache.com/im/pictures/37a4e6f0-6...,https://a0.muscache.com/im/pictures/37a4e6f0-6...,Friedrichshain,"['email', 'phone', 'reviews', 'jumio', 'govern...",NaN,1
2,4314868,https://www.airbnb.com/users/show/4314868,Katharina,2012-12-03,Ich lebe in Berlin - im schönen Prenzlauer Ber...,https://a0.muscache.com/im/users/4314868/profi...,https://a0.muscache.com/im/users/4314868/profi...,Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",90,0
3,9828152,https://www.airbnb.com/users/show/9828152,Katrin,2013-11-05,"Wir sind leidenschaftliche Berliner, lieben un...",https://a0.muscache.com/im/users/9828152/profi...,https://a0.muscache.com/im/users/9828152/profi...,Alt-Hohenschönhausen,"['email', 'phone', 'reviews']",NaN,1
4,10962834,https://www.airbnb.com/users/show/10962834,Katharina,2014-01-02,NaN,https://a0.muscache.com/im/users/10962834/prof...,https://a0.muscache.com/im/users/10962834/prof...,Moabit,"['email', 'phone', 'reviews']",NaN,1

### changing the host_neighborhood by their ids

In [80]:
di = pd.read_csv('neighbourhood.csv', encoding = 'utf-8')['NEIGH'].to_dict()
#creates a maping like before, need to reverse it:
inv_di = dict([[v,k] for k,v in di.items()])
hosts_neigh_id = hosts['host_neighbourhood'].map(inv_di)
hosts_neigh_id[:5]

0    154
1    155
2    156
3    157
4    158
Name: host_neighbourhood, dtype: int64

In [81]:
hosts = hosts.drop(['host_neighbourhood'], axis = 1)
hosts['neigh_id'] = hosts_neigh_id
hosts.head()

,host_id,host_url,host_name,host_since,host_about,host_thumbnail_url,host_picture_url,host_verifications,host_response_rate,host_response_time,neigh_id
0,10692949,https://www.airbnb.com/users/show/10692949,Suites & More,2013-12-18,Like hosts we like to offer what we would like...,https://a0.muscache.com/im/users/10692949/prof...,https://a0.muscache.com/im/users/10692949/prof...,"['email', 'phone', 'reviews', 'jumio', 'offlin...",100,0,154
1,10914898,https://www.airbnb.com/users/show/10914898,Anita,2013-12-30,NaN,https://a0.muscache.com/im/pictures/37a4e6f0-6...,https://a0.muscache.com/im/pictures/37a4e6f0-6...,"['email', 'phone', 'reviews', 'jumio', 'govern...",NaN,1,155
2,4314868,https://www.airbnb.com/users/show/4314868,Katharina,2012-12-03,Ich lebe in Berlin - im schönen Prenzlauer Ber...,https://a0.muscache.com/im/users/4314868/profi...,https://a0.muscache.com/im/users/4314868/profi...,"['email', 'phone', 'reviews', 'jumio', 'offlin...",90,0,156
3,9828152,https://www.airbnb.com/users/show/9828152,Katrin,2013-11-05,"Wir sind leidenschaftliche Berliner, lieben un...",https://a0.muscache.com/im/users/9828152/profi...,https://a0.muscache.com/im/users/9828152/profi...,"['email', 'phone', 'reviews']",NaN,1,157
4,10962834,https://www.airbnb.com/users/show/10962834,Katharina,2014-01-02,NaN,https://a0.muscache.com/im/users/10962834/prof...,https://a0.muscache.com/im/users/10962834/prof...,"['email', 'phone', 'reviews']",NaN,1,158

In [82]:
hosts.to_csv('hosts.csv', encoding = 'utf-8')


### Listings locations

In [ ]:
# Those are the geographical locations of the listings
listingsB_locations = berlin_listings.iloc[:, 24:30]
# As for descriptions, there is a one-to-one correspondance between listings and locations
listingsB_locations['listing_id'] = berlin_listings['id']
# note: we could add the city information to the listings so that we could separate the locations in three categories,
#       one for each city, using inheritance
listingsB_locations.head()

### Properties descriptions

In [ ]:
listingsB_properties = berlin_listings.iloc[:, 30:39]
# as usual
listingsB_properties['listing_id'] = berlin_listings['id']
listingsB_properties.head()

### Prices

In [ ]:
listingsB_prices = berlin_listings.iloc[:, 39:48]
# same
listingsB_prices['listing_id'] = berlin_listings['id']
listingsB_prices.head()

### Review scores

In [ ]:
listingsB_reviews = berlin_listings.iloc[:, 48:55]
listingsB_reviews['listing_id'] = berlin_listings['id']
listingsB_reviews.head()

### Permissions

In [ ]:
listingsB_permissions = berlin_listings.iloc[:, 55:]
listingsB_permissions['listing_id'] = berlin_listings['id']
listingsB_permissions.head()

## Reviews

In [ ]:
berlin_reviews.head()

In [ ]:
duplicated_reviewers = berlin_reviews[berlin_reviews.duplicated(['reviewer_id'], keep = False)].count()[0]
# as we can see below, there are many reviewers that made many reviews
reviews = berlin_reviews.count()[0]
print("there are {}% of the reviews that have a reviewer that reviewed at least another listing in Berlin".format(int(duplicated_reviewers/reviews * 100)))

In [ ]:
reviews

In [ ]:
berlin_listings.count()[0]

In [ ]:
reviews_on_diff_listings = berlin_reviews.drop_duplicates(['listing_id'], keep = 'first').sort_values('listing_id').count()[0]
number_of_listings = listingsB.sort_values('id').count()[0]
# note: many listings don't have a review
print("{}% of the listings have a review".format( int(reviews_on_diff_listings / number_of_listings * 100) ))

In [ ]:
listings_ids = listingsB['id']
listings_ids.count()

In [ ]:
reviews_ids = berlin_reviews.drop_duplicates(['listing_id'], keep = 'first')['listing_id']
reviews_ids.count()

In [ ]:
li = listings_ids.sort_values()
ri = reviews_ids.sort_values()
ri[ri.isin(li)].count()
# So every review has a listing id corresponding to a listing

## Calendar

In [ ]:
berlin_calendar[berlin_calendar.notnull()['price']].count()

In [ ]:
id_cal = berlin_calendar[berlin_calendar['listing_id'] == listingsB['id'][3]]
id_cal[first_id_cal['available'] == 't'].count()[0]
# some listings never were available

In [ ]:
# for every listing, verify if the corresponding calendar has at least one true in the list
l = berlin_calendar.drop(['date', 'price'], axis = 1)
available = l[l['available'] == 't'].drop_duplicates(['listing_id'], keep = 'first')
n_av = available.count()[0]
n_lis = listingsB.count()[0]
print("there are {} over {} ({} %) listings that were available at least once in the year"
      .format( str(n_av), str(n_lis), str(int(n_av / n_lis * 100)) ))
# note: we coud easily drop every listings that never was available

In [ ]:
reviews_on_available_number = berlin_reviews[berlin_reviews['listing_id'].isin(available['listing_id'])].count()[0]
reviews_number = berlin_reviews.count()[0]
print("there are {} reviews on available over {} ({} %)"
      .format( str(reviews_on_available_number), str(reviews_number), str(int(reviews_on_available_number / reviews_number * 100))))

In [ ]:
berlin_reviews.info()

In [ ]:
barcelona